<html>
<head>
<title><%=title%></title>
<script language="javascript">
function init(){
frm.number.value= "<%=random%>";
}

</script>
</head>
<body onload="init()" onload="autoSubmit(100)">
<h2>Check Prime Numbers Between 2 and <%=random%></h2>
<form action="/calculate" method="post" name="frm" id="frm">
<input type="text" name="number" id="number">

<input type="submit" name="submit" value="Calculate"/>
</body>
</html>