<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Visualizarix</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	<style>
    #chartdiv {
	width	: 100%;
	height	: 500px;
}
</style>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/patterns.js"></script>
	<script>
	var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
	"theme": "none",
    "legend": {
        "horizontalGap": 10,
        "maxColumns": 1,
        "position": "right",
		"useGraphSettings": true,
		"markerSize": 10
    },


    "dataProvider": <%-JSON.stringify(data)%>,
    "valueAxes": [{
        "stackType": "regular",
        "axisAlpha": 0.3,
        "gridAlpha": 0
    }],
    "graphs": [{
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0.3,
        "title": <%-JSON.stringify(category)%>,
        "type": "column",
		"color": "#000000",
        "valueField": <%-JSON.stringify(category)%>
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0.3,
        "title": "Import",
        "type": "column",
		"color": "#000000",
        "valueField": "trade"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0.3,
        "title": "Trade in US dollars",
        "type": "column",
		"color": "#000000",
        "valueField": "trade_usd"
    }],
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left"
    },
	"exportConfig":{
		"menuTop":"20px",
        "menuRight":"20px",
        "menuItems": [{
        "icon": '/lib/3/images/export.png',
        "format": 'png'	  
        }]  
    }
});
</script>
		
		
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>Visualizarix</span></a>
								
				<!-- start: Header Menu -->		
							<%include includes/header.ejs %>
						<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
				<%include includes/menu.ejs %>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Line Chart</a></li>
			</ul>	
		
		<div class="row-fluid">	
				<div class="box blue span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>Stacked Coloumn Chart for <%=country%></h2>
					</div>
					<div class="box-content">
						<form action="/plotLineGraph" method="post">
  				<font color="black" size=5>Select Countries:  </font>
  			<input type="text" name="getcountry" id="getcountry" list="country" required/><datalist id="country">
  	
			<option value="india"> India </option>
			<option value="cameroon">Cameroon </option>
			<option value="afghanistan">Afghanistan</option>
			<option value="albania">Albania</option>
			<option value="algeria">Algeria</option>
			<option value="antigua and barbuda">Antigua and Barbuda</option>
			<option value="argentina">argentina</option>
			<option value="armenia">Armenia</option>
			    <option value="aruba">Aruba</option>
			    <option value="bahamas">Bahamas</option>
			    <option value="belarus">Belarus</option>
			    <option value="belize">Belize</option>
			    <option value="bermuda">Bermuda</option>
			    <option value="bosnia and herzegovina">Bosnia and Herzegovina</option>
			    <option value="botswana">Botswana</option>
			    <option value="brazil">Brazil</option>
			    <option value="brunei darussalam">Brunei Darussalam</option>
			    <option value="bulgaria">Bulgaria</option>
			    <option value="burundi">Burundi</option>
			    <option value="cabo verde ">Cabo Verde</option>
			    <option value="cambodia">Cambodia</option>
			    <option value="canada">Canada</option>
			    <option value="chile">Chile</option>
			    <option value="china">China</option>
			    <option value="colombia">Colombia</option>
			    <option value="costa rica">Costa Rica</option>
			    <option value="croatia">Croatia</option>
			    <option value="cyprus">Cyprus</option>
			    <option value="czech rep.">Czech Republic</option>
			    <option value="côte d’ivoire">Côte d’Ivoire</option>
			    <option value="dominican Republic">Dominican Republic</option>
			    <option value="ecuador">Ecuador</option>
			    <option value="el salvador">El Salvador</option>
			    <option value="estonia">Estonia</option>
			    <option value="ethiopia">Ethiopia</option>
			    <option value="fiji">Fiji</option>
			    <option value="finland">Finland</option>
			    <option value="france">France</option>
			    <option value="french Polynesia">French Polynesia</option>
			    <option value="georgia">Georgia</option>
			    <option value="germany">Germany</option>
			    <option value="ghana">Ghana</option>
			    <option value="guatemala">Guatemala</option>
			    <option value="guatemala">Guyana</option>
			    <option value="honduras">Honduras</option>
			    <option value="hungary">Hungary</option>
			    <option value="indonesia">Indonesia</option>
			    <option value="ireland">Ireland</option>
			    <option value="italy">Italy</option>
			    <option value="jamaica">Jamaica</option>
			    <option value="japan">Japan</option>
			    <option value="jordan">Jordan</option>
			    <option value="kazakhstan">Kazakhstan</option>
			    <option value="kyrgyzstan">Kyrgyzstan</option>
			    <option value="latvia">Latvia</option>
			<option value="lebanon">Lebanon</option>
			<option value="lithuania">Lithuania</option>
			<option value="luxembourg">Luxembourg</option>
			<option value="madagascar">Madagascar</option>
			<option value="malaysia">Malaysia</option>
			<option value="maldives">Maldives</option>
			<option value="mali">Mali</option>
			<option value="malta">Malta</option>
			<option value="mauritania">Mauritania</option>
			<option value="mauritius">Mauritius</option>
			<option value="mexico">Mexico</option>
			<option value="montenegro">Montenegro</option>
			<option value="morocco">Morocco</option>
			<option value="mozambique">Mozambique</option>
			<option value="namibia">Namibia</option>
			<option value="netherlands">Netherlands</option>
			<option value="new caledonia">New Caledonia</option>
			<option value="new zealand">New Zealand</option>
			<option value="nicaragua">Nicaragua</option>
			<option value="niger">Niger</option>
			<option value="nigeria">Nigeria</option>
			<option value="norway">Norway</option>
			<option value="oman">Oman</option>
			<option value="pakistan">Pakistan</option>
			<option value="palau">Palau</option>
			<option value="papua new guinea">Papua New Guinea</option>
			<option value="paraguay">Paraguay</option>
			<option value="peru">Peru</option>
			<option value="philippines">Philippines</option>
			<option value="poland">Poland</option>
			<option value="portugal">Portugal</option>
			<option value="romania">Romania</option>
			<option value="russian federation">Russian Federation</option>
			<option value="rwanda">Rwanda</option>
			<option value="saint vincent and the grenadines">Saint Vincent and the Grenadines</option>
			<option value="samoa">Samoa</option>
			<option value="saudi Arabia">Saudi Arabia</option>
			<option value="senegal">Senegal</option>
			<option value="serbia">Serbia</option>
			<option value="singapore">Singapore</option>
			<option value="slovakia">Slovakia</option>
			<option value="solomon isds">Solomon Islands</option>
			<option value="south Africa">South Africa</option>
			<option value="spain">Spain</option>
			<option value="sri lanka">Sri Lanka</option>
			<option value="state of palestine">State of Palestine</option>
			<option value="sudan">Sudan</option>
			<option value="sweden">Sweden</option>
			<option value="switzerland">Switzerland</option>
			<option value="thailand">Thailand</option>
			<option value="togo">Togo</option>
			<option value="tonga">Tonga</option>
			<option value="turkey">Turkey</option>
			<option value="uganda">Uganda</option>
			<option value="ukraine">Ukraine</option>
			<option value="united kingdom">United Kingdom</option>
			<option value="uruguay">Uruguay</option>
			<option value="usa">United States</option>
			<option value="vietnam">Vietnam</option>
			<option value="yemen">Yemen</option>        
			</datalist>
			
			<font color="black" size=5>Select Category:  </font>
			<input type="text" name="getCategory" id="getCategory" list="category" required/><datalist id="category">
  	
			<option value="animal_products"> Animal Products </option>
			<option value="food">Food </option>
			<option value="oil_minerals">Oil and Minerals</option>
			<option value="chemicals">Chemicals</option>
			<option value="vehicles">Vehicles</option>
			<option value="textile">Textile</option>
			<option value="misc">Misc</option>
			</datalist>
			<input type="submit" value="Go">
 			 </form>
   				 <div id="chartdiv"></div>
						
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<!-- start: footer-->
		<%include includes/footer.ejs%>
	<!-- start: footer-->

	<!-- start: JavaScript-->
		<%include includes/javascript_includes.ejs%>		
	<!-- end: JavaScript-->
	
</body>
</html>
